.buy-tickets-header{
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--grey);
}

.buy-tickets-header a.step{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px;
    font-weight: 500;
    text-decoration: none;
    color: inherit
}

.buy-tickets-header .brand a{
    padding: 20px;
    height: 100%;
    color: var(--brand);
    font-size: 1.2rem;
    font-weight: 600;
}

.buy-tickets-header a.step .material-icons-outlined{
    margin-right: 10px;
}

.buy-tickets-header a.step.active{
    border-bottom: 2px solid var(--brand);
    color: white;
    pointer-events: none;
}

.buy-tickets-header a.step.disabled{
    color: #666;
    pointer-events: none;
}

.buy-tickets-footer{
    margin-top: auto;
    padding: 40px;
    height: 60px;
    background-color: var(--black);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy-tickets-footer .nav-btn{
    padding: 10px 20px;
    background-color: var(--brand);
}

.buy-tickets-footer .summary{
    text-align: right;
    display: flex;
    align-items: center;
}

.buy-tickets-footer .summary .details{
    margin-right: 20px
}

.buy-tickets-footer .summary p{
    margin-bottom: 5px;
}

.order-content{
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 146px);
}

.order-content h1{
    margin-top: 0;
}

.btn-circle.prev, .btn-circle.next{
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.buy-tickets-footer .btn.next.disabled{
    background-color: var(--lightgrey2);
    border: 1px solid var(--lightgrey3);
}

.buy-tickets-footer .btn.next, .buy-tickets-footer .btn.prev{
    background-color:var(--brand);
    color: black;
}

.buy-tickets-footer .btn.next:hover, .buy-tickets-footer .btn.prev:hover{ 
    background-color: var(--brandBlue);
    color: white
}
