.order-details{
    min-width: 600px;
    max-width: 800px;
    padding: 30px;
}

.order-details .bold{
    font-weight: 500;
}

.order-details .event-info{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid var(--lightgrey3);
}

.order-details .event-info p{
    margin-bottom: 30px;
}

.order-details .event-info .image{
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
    max-height: 300px;
    display: flex;
    align-items: center;
}

.order-details .event-info .image img{
    width: 100%;
    height: auto;
}


.order-details ul{
    padding: 20px;
}

.order-details li{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
}

.order-details li.total{
    border-top: 1px solid var(--lightgrey3);
    margin-top: 20px;
    padding: 20px;
    font-size: 1.1rem;
}