.select-tickets-header{
    text-align: center;
    margin-bottom: 20px;
}

#select-tickets{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 800px;
    overflow: hidden;
    color: white
}

#selec-tickets .spread{
    display: flex;
    flex-direction: column;
}

#select-tickets .ticket-name, #select-tickets .ticket-price{
    display: inline-block; 
    width: 50%;
    font-size: 1.3rem;
}

#select-tickets .ticket-name{
    text-align: left!important;
}

#select-tickets .ticket-price{
    text-align: right!important;
}

#select-tickets .ticket-name, #select-tickets .ticket-price, #select-tickets .btn-container{
    margin-bottom: 20px;
    text-align: center;
}

#select-tickets .btn-container .btn-group{
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
}

#select-tickets .spread .img-container{
    margin: 0;
    margin-bottom: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#select-tickets .spread .img-container img{
    width: 100%;
    height: auto;
}

#select-tickets .btn-circle, #select-tickets .btn-circle .material-icons{
    border-color: white;
    color: white
}

@media screen and (min-width: 1200px){
    #select-tickets{
        width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: 1.2rem;
        padding: 0;
    }

    #select-tickets .spread{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #select-tickets .spread > div{
        margin-bottom: 0;
    }


    #select-tickets .spread .img-container{
        overflow: hidden;
        flex: 1;
        margin-right: 50px;
        height: 100px;
    }

    #select-tickets .img-container, #select-tickets .ticket-name, #select-tickets .ticket-price, #select-tickets .btn-container{
        flex: 5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    #select-tickets .spread .img-container img{
        width: 100%;
        height: auto;
    }
}


.btn-group{
    display: inline-flex;
    align-items: center;
}

.btn-group button{
    margin: 0 10px;
}







