.form-nav{
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    padding: 20px;
    margin-top: auto;
}

.form-nav .btn:disabled{
    background-color: var(--lightgrey);
    color: var(--lightgrey3);
    border-color: transparent;
    display: block;
}

.form-nav .nav-btn{
    margin-bottom: 0;
}

.form-nav .nav-btn:hover{
    background-color: var(--brand);
}