.avatar{}

.avatar .img-container{
    background-color: var(--lightgrey2);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--lightgrey3);
    overflow: hidden;
    position: relative;
}

.avatar .img-container img{
    width: 100%; height: auto;
}