.filter-btn{
    text-transform: uppercase;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    color: var(--brandGrey);
    letter-spacing: 1px;
    font-weight: 600;
}

.filter-btn:hover{
    color: white;
    cursor: pointer;
}

.filter-btn.active{
    color: var(--cyan);
    pointer-events: none;
}
