.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(74, 74, 74, 0.9);
    z-index: 2000;
}

.modal{
    position: relative;
    width: 600px;
    background-color: white;
    color: var(--black);
    z-index: 11;
}

.modal-header{
    border-bottom: 1px solid var(--lightgrey);
    padding: 10px;
}

.modal-title{
    font-size: 1.2rem;
    font-weight: 500;
    color: inherit;
    margin-bottom: 10px;
    text-align: center; 
}

.modal-title .material-icons{
    position: absolute;
    top: 20px;
    right: 20px
}

.modal-header p{
    text-align: center;
    color: var(--grey);
}

.modal-content{
    padding: 20px;
}

.modal-content .total{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 20px;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
}

.modal-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
}